
<!DOCTYPE html>
<html>
<head>
    <style>
        ::placeholder {
            font-weight:bold;
            color:black;
        }
    </style>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="~/Content/bootstrap-select.min.css">


    <!-- Latest compiled and minified JavaScript -->
    <script src="~/Content/bootstrap-select.min.js"></script>

    <!-- (Optional) Latest compiled and minified JavaScript translation files -->
    <script src="~/Content/defaults-pt_BR.min.js"></script>

    <body>
        <div class="navbar navbar-inverse navbar-fixed-top" style="opacity:0.8;">
            <div id="botoes_top" class="col-lg-12">
                <div style="margin-top: 0.2%;opacity: 0.9;" id="nome_usuario" class="col-md-3">

                </div>
                <div class="col-md-7" style="opacity: 0.9;">
                    <div class="col-md-10">
                        <input type="text" style="width:100%;border-radius: 5vh; height: 3.5vh; margin-top: 0.7vh;border: unset; background: linear-gradient(to right, #4facac, #d7d7ec);" id="filtro_nome_usuario" placeholder="Procure por alguem.">
                    </div>
                    <div class="col-md-2" style="margin-top: 0.6%">
                        <button type="submit" onclick="PesquisarUsuario()" data-target="#ModalPesquisa" data-toggle="modal" class="btn btn-secondary btn-lg btn-block " style="color: white; border: solid; border-radius: 3vh;">Pesquisar</button>
                    </div>
                </div>
                <div class="col-md-2">
                    <a style="font-size: 1.7em;color: white;" class="btn btn-dark pull-right" @Html.ActionLink("Sair", "SairSessao", "Dashboard")</a>
                </div>
            </div>
            <div id="corpo_geral" class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @*@Html.ActionLink("Realizar Venda", "RealizarVenda", "PainelGeral", new { area = "" }, new { @class = "navbar-brand" })*@
                </div>
                <div class="navbar-collapse collapse">
                    @*<ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Cadastrar Cliente", "CadastrarCliente", "PainelGeral")</li>
                            <li>@Html.ActionLink("Relatório Vendedor", "RelatorioVendedor", "PainelGeral")</li>
                            <li>@Html.ActionLink("Cadastrar Vendedor", "CadastrarVendedor", "PainelGeral")</li>
                            <li>@Html.ActionLink("Realizar Compra", "RealizarCompra", "PainelGeral")</li>
                            <li>@Html.ActionLink("Estornar Venda", "EstornarVenda", "PainelGeral")</li>
                        </ul>*@
                </div>
            </div>
        </div>
        <div id="corpo_conteudo" class="containr body-content">
            @RenderBody()
        </div>

    </body>
</html>


<!-- Modal -->
<div class="modal fade" id="ModalPesquisa" tabindex="-1"  role="dialog" aria-labelledby="ModalPesquisa" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="position: absolute; margin-left: -8%; margin-top: -10%; opacity: 1; width: 18%;" role="document">
        <div class="modal-content" style="border-radius: 3em;background-image: linear-gradient(to bottom, white, #b9f2f3);">
            <div class="modal-body">
                <h4 style="text-align:center"><b>Usuários</b></h4>
                <div id="div_conteudo_modal">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
    

<script src="~/Scripts/jquery.mask.js"></script>

<script>
    //$(document).ready(function () {
    //    BuscarNome();
    //});

    //PesquisarUsuario = function () {
    //    console.log("asdasdasd");
    //    $("#div_conteudo_modal").append("ASDASDASDSA");
    //    nome = $("#filtro_nome_usuario").val();
    //    $.post(UrlBuscarUsuarioNome, { nome }, function (res) {
    //        if (res.Data != null) {
    //            console.log(res);
    //        }
    //    });
    //}

</script>