
@model SistemaVendas.Models.Postagem


@{
    ViewBag.Title = "Home Page";
}


<script>
    UrlBuscarLista = '@Url.Action("GerarListaComentario", "Dashboard")';
    UrlBuscarComentar = '@Url.Action("Comentar", "Dashboard")';
    UrlEnviarComentario = '@Url.Action("EnviarComentario", "Dashboard")';
    UrlBuscarListaSubComentarios = '@Url.Action("BuscarSubComentarios", "Dashboard")';
    UrlRealizarAvaliacao = '@Url.Action("RealizarAvaliacao", "Dashboard")';
    UrlBuscarNome = '@Url.Action("BuscarUsuario", "Dashboard")';
    UrlBuscarUsuarioNome = '@Url.Action("BuscarUsuarioNome", "Dashboard")';
</script>


<link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
<script>$(document).ready(function () { $('body').bootstrapMaterialDesign(); });</script>
<div class="col-md-12">
    <div class="col-md-3">
        <div class="col-md-12" style="background-color:aqua; height: 50px">

        </div>
    </div>
    <div class="col-md-7">
        <div class="col-md-12">
            <div class="form-group col-md-10">
                <input type="text" style="width:100%" class="form-control" id="comentario" placeholder="Faça uma perguta.">
            </div>
            <div class="col-md-2">
                <button type="submit" onclick="Comentar()" class="btn btn-secondary btn-lg btn-block">Perguntar</button>
            </div>
        </div>
        <div class="col-md-12" style="margin-top:5%">
            @*@foreach (var item in Model.ListaPostagem)
            {
                    @Html.DisplayFor(modelItem => item.Conteudo)
                    @Html.DisplayFor(modelItem => item.Usuario.Nome)
            }*@
            <div id="corpo_lista">

            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="col-md-12" style="background-color:blue; height: 50px">

        </div>
    </div>
</div>


<script src="~/Scripts/jquery-3.3.1.js"></script>
<script>
    $(document).ready(function () {
        PopularListar();
        BuscarNome();
    });
    var statusComentario = false;



    BuscarNome = function () {
        $.post(UrlBuscarNome, function (res) {
            console.log(res);
            $("#nome_usuario").append("<span style='font-size: 2em; color: white;'>" + res.Data.Nome + "</span>");
        });
    }

    PopularListar = function () {
        $.post(UrlBuscarLista, function (res) {
            if (res.Data != null) {
                for (x = 0; x < res.Data.length; x++) {
                    var lista = res.Data[x].ListaResposta;
                    $("#corpo_lista").append("<div id='corpo_comentario" + x + "' style='border: outset; border-radius: 2em; box-shadow: 0.5em 0.5em lightblue;'" + "class=" + "alert alert-success" + ">" + "<h4 style='font-size: 1.5rem;'  class=" + "alert-heading" + ">" + res.Data[x].Usuario.Nome + "<span style='font-size: 1.3rem;' class='pull-right'>" + res.Data[x].DataString + "</span></h4> " +
                        "<span style='font-size: 1.5rem;' >" + res.Data[x].Conteudo + "</span>" +
                        "<p>" + "<select style='width: 8%;' onclick=(Avaliar(" + res.Data[x].Id + "," + x +")) class='custom-select btn btn-primary btn-lg' id='selectCurtir" + x +"'><option selected>Avalie</option><option value='1'>Nota 1</option><option value='2'>Nota 2</option><option value='3'>Nota 3</option><option value='4'>Nota 4</option><option value='5'>Nota 5</option></select>" +
                        "<button type='button'" + "onclick=(FazerComentario(" + x + "," + res.Data[x].Id + ")) class='btn btn-primary btn-lg'>" + res.Data[x].QuantidadeResposta + " Comentarios</button>" + "</p>" + " </div > ");
                    if (res.Data[x].Avaliei) {
                        $("#selectCurtir" + x).val(res.Data[x].NotaUsuario);
                    }
                }
            }
        });
    }

    PesquisarUsuario = function () {
        nome = $("#filtro_nome_usuario").val();
        $.post(UrlBuscarUsuarioNome, { nome }, function (res) {
            if (res.Data != null) {
                console.log(res);
            }
        });
    }

    Avaliar = function (idPostagem, linha) {
        if ($("#selectCurtir" + linha).val() != "Avalie") {
            nota = $("#selectCurtir" + linha).val();
            $.post(UrlRealizarAvaliacao, { idPostagem, nota }, function (res) {
                if (res.Data != null) {

                }
            });
        }
    }

    FazerComentario = function (idLinha, idPostagem) {
        if (statusComentario) {
            window.location.reload(true);
            statusComentario = false;
        } else {
            $.post(UrlBuscarListaSubComentarios, { idPostagem }, function (res) {
                if (res.Data != null) {
                    for (x = 0; x < res.Data.ListaResposta.length; x++) {
                        $("#corpo_comentario" + idLinha).append("<div id='corpo_comentario_sub" + x + "' style='background-image: linear-gradient(#f1f8fc, #dac4f2); border: outset; border-radius: 2em; box-shadow: 0.5em 0.5em #428bca;'" + "class=" + "alert alert-success" + ">" + "<h4 style='font-size: 1.5rem;'  class=" + "alert-heading" + ">" + res.Data.ListaResposta[x].Usuario.Nome + "<span style='font-size: 1.3rem;' class='pull-right'>" + res.Data.ListaResposta[x].DataString + "</span></h4> " +
                            "<span style='font-size: 1.5rem;' >" + res.Data.ListaResposta[x].Conteudo + "</span>" +
                            "<p>" + "<select style='width: 8%;' onclick=(Avaliar(" + res.Data.ListaResposta[x].Id + "," + x + ")) class='custom-select btn btn-primary btn-lg' id='selectCurtirComent" + x +"'><option selected>Avalie</option><option value='1'>Nota 1</option><option value='2'>Nota 2</option><option value='3'>Nota 3</option><option value='4'>Nota 4</option><option value='5'>Nota 5</option></select>" + "</p>" + " </div > ");
                        if (res.Data.ListaResposta[x].Avaliei) {
                            $("#selectCurtirComent" + x).val(res.Data.ListaResposta[x].NotaUsuario);
                        }
                    }
                }
            });
            $("#corpo_comentario" + idLinha).append("<input type='text' style='width:100%' class='form-control' id='comentario_post' placeholder='Responda.'>" +
                "<button type='submit' onclick='EnviarComentario(" + idPostagem + ")' class='btn btn-secondary btn-lg btn-block'>Responder</button>");
            statusComentario = true;
        }
    }

    EnviarComentario = function (idPostagem) {
        comentario = $("#comentario_post").val();
        $.post(UrlEnviarComentario, { comentario, idPostagem }, function (res) {
            if (res.Data != true) {
                $("#msg_erro").css("display", "");
            } else {
                //window.location = res.ContentType;
            }
        });    }

    EsconderMenu = function () {
        $("#corpo_geral").css("display", "none");
    }

    Comentar = function () {
        comentario = $("#comentario").val();
        $.post(UrlBuscarComentar, { comentario }, function (res) {
            if (res.Data != true) {
                $("#msg_erro").css("display", "");
            } else {
                //window.location = res.ContentType;
            }
        });
    }


    Logar = function () {
        login = $("#usuario").val();
        senha = $("#senha").val();
        $.post(UrlLogar, { login, senha }, function (res) {
            if (res.Data != true) {
                $("#msg_erro").css("display", "");
            } else {
                window.location = res.ContentType;
            }
        });
    }


</script>
