@{
    ViewBag.Title = "Relatório Vendedor";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<script>
    UrlBuscarVendedor= '@Url.Action("BuscarVendedor", "PainelGeral")';
</script>

<div class="jumbotron">
    <div class="col-md-14 row">
        <div class="col-md-4">
            @Html.Label("Digite Login")
            @Html.TextBox("login", null, new { @class = "form-control", placeholder = "Digite o Usuario", maxlength = 128 })
        </div>
        <div class="col-md-4">
            @Html.Label("Digite Nome")
            @Html.TextBox("nome", null, new { @class = "form-control", placeholder = "Digite o Nome", maxlength = 128 })
        </div>
        <center>
            <div class="col-md-14">
                <button onclick="BuscarVendedor()" style="margin-top: 20px" class="btn btn-success">Buscar</button>
            </div>
        </center>
    </div>
</div>

<div class="jumbotron" id="div_relatorio" style="display:none">
    <div class="col-md-14 row">
        <div class="col-md-4">
            @Html.Label("Nome")
            @Html.TextBox("nome_relatorio", null, new { @class = "form-control", placeholder = "Nome", maxlength = 128, disabled = "disabled" })
        </div>
        <div class="col-md-4">
            @Html.Label("Data de Nascimento")
            @Html.TextBox("data_nascimento", null, new { @class = "form-control", placeholder = "Nascimento", disabled = "disabled" })
        </div>
        <div class="col-md-4">
            @Html.Label("Setor")
            @Html.TextBox("setor", null, new { @class = "form-control", placeholder = "Setor", maxlength = 128, disabled = "disabled" })
        </div>
        <div class="col-md-4">
            @Html.Label("Salário")
            @Html.TextBox("salario", null, new { @class = "form-control", placeholder = "Salário", maxlength = 128, disabled = "disabled" })
        </div>
        <div class="col-md-4">
            @Html.Label("Usuário")
            @Html.TextBox("usuario", null, new { @class = "form-control", placeholder = "Usuário", maxlength = 128, disabled = "disabled" })
        </div>
        <div class="col-md-4">
            @Html.Label("Quantidade de Vendas")
            @Html.TextBox("quantidade_vendas", null, new { @class = "form-control", placeholder = "Quantidade", maxlength = 128, disabled = "disabled" })
        </div>
        <div class="col-md-4">
            @Html.Label("Valor Total de Vendas")
            @Html.TextBox("valor_vendas", null, new { @class = "form-control", placeholder = "Valor", maxlength = 128, disabled = "disabled" })
        </div>
    </div>
</div>


<script src="~/Scripts/jquery-3.3.1.js"></script>
<script>
    $(document).ready(function () {
    });
    BuscarVendedor = function () {
        usuario = $("#login").val();
        nome = $("#nome").val();
        $.post(UrlBuscarVendedor, { usuario, nome }, function (res) {
            console.log(res);
            if (res.Data != null) {
                $("#nome_relatorio").val(res.Data.Pessoa.Nome);
                $("#data_nascimento").val(Date(Date.parse(res.Data.Pessoa.DataNascimento, "MM/dd/yyyy")));
                $("#setor").val(res.Data.Setor);
                $("#salario").val(res.Data.Salario);
                $("#usuario").val(res.Data.Login);
                $("#quantidade_vendas").val(res.Data.QuantidadeVendas);
                $("#valor_vendas").val(res.Data.ValorTotalVendas + ",00");
                $("#div_relatorio").css("display", "");
            } else {
                // window.location = res.ContentType;
            }
        });
    }

    Salvar = function () {
        senha = $("#senha").val();
        nome = $("#nome").val();
        data = $("#data_nascimento").val();
        salario = $("#salario").val();
        setor = $("#setor").val();
        usuario = $("#usuario").val();
        $.post(UrlSalvarVendedor, { usuario, senha, setor, salario, nome, data }, function (res) {
            if (res.Data == true) {
                $("#vendedor_salvo").css("display", "");
            } else {
                // window.location = res.ContentType;
            }
        });
    }


</script>




